{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static_app/css/tabla.css' %}">
</head>
<body>
<header>
    <h1>Datos de los Cursos</h1>
</header>

    <a href="{% url 'agregarestu' %}"><button type="submit">Agregar Estudiante</button></a>
    <table class="container-fluid row" id="list_contenedor">

        <tr>
          <th class="primera_celda">Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Correo</th>
        </tr>
    
        {% for cur in listacur %}
        <tr class="separador-row">
          
              <td>{{cur.nombre}}</td>
              <td>{{cur.apellido}}</td>
              <td>{{cur.documento}}</td>
              <td>{{cur.correo}}</td>
              
            <td>
                <a href="{% url 'editar' cur.id_estudiante %}"><button type="submit">Editar</button></a>
                <a href="{% url 'eliminar' cur.id_estudiante %}"><button type="submit">Eliminar</button></a>
            </td>
    
        </tr>
        {% endfor %}
        <tr>
      </table>
    
</body>
</html>
{% endblock %}